* {
  overflow-x: hidden;
}

#body {
  background-color: beige;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  padding: 1rem;
}


.logo {
 
}

.navbar {
  display: flex;
  gap: 6rem;
}

.intro {
  display: flex;
  justify-content: space-around;
  padding: 6rem;
}

#intro-text {
  font-size: 2rem;
}

#project-button {
  margin: 0.75rem 25rem;
  padding: 0.75rem 1.5rem;
}

.sub-headings {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  margin: 8rem 8rem;
}

.projects-and-tools {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.items {
  margin: 0rem 8rem;
}

.about-content {
  display: flex;
  justify-content: space-around;
}

#bio {
  border-style: none;
  border-radius: 2.5rem;
  background-color: #38A367;
  padding: 5rem;
  margin-right: 20rem;
}

#contact-info {
  box-sizing: border-box;
  background-color: #38A367;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 1rem;
}

.intro-background {
  box-sizing: border-box;
  background-color: #D37B50;
  margin: 2rem;
  padding: 5rem;
  padding-bottom: 10rem;
  border-radius: 2.5rem;
}


.nav-styling {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}

.contact-styling {
  box-sizing: border-box;
  background-color: #38A367;
  padding-left: 2rem;
  margin-top: 2rem;
}

.green-background-font {
  color: white;
}